<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          text
          color = "white" class="mr-2"
          v-on="on"
        >
        <span class ="hidden-md-and-down text-capitalize">Login</span>
        <v-icon right>input</v-icon>
         
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
         Login
        </v-card-title>

        <v-card-text>
         <v-form>
          <div v-if = "errors != null">
            <div  class="red--text mb-3 mt-2 text-center">
              {{errors.login_error}}
            </div>
          </div>
           <v-text-field v-model="form.username" label = Username></v-text-field>
           <div v-if = "errors != null">
              <div v-for="error in errors.username" class="red--text">
                {{error}}
              </div>
            </div>
           <v-text-field v-model = "form.password" type = "password" label = Password></v-text-field>
           <div v-if = "errors != null">
              <div v-for="error in errors.password" class="red--text">
                {{error}}
              </div>
            </div>
         </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
              <v-btn
                color="error"
                text
                @click="dialog = false"
              >
               Cancel
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color = "green"
                width = "120"
                class = "white--text mr-2"
                @click ="login"
              >
              submit
              </v-btn>
              
            </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script type="text/javascript">
  export default{
    data(){
      return {
        dialog: false,
        errors:null,
        form:{
          username:'',
          password:''
        }
      }
    },
    methods:{
      login(){
        const creds = {
          username : this.form.username,
          password : this.form.password
        }

        axios.post('/api/login',creds).then((response)=>{
            this.form.username = '';
            this.form.password = '';

            this.$store.commit('logUserIn',response.data);
            let mesaageData = {
                message:"Successfully Logged in",
                type:"success",
                status:true
              }
              this.$store.commit('showMessage',mesaageData);
              this.dialog = false;
              // this.$store.commit('killSnanckbar');
          }

        ).catch((error)=>{
          console.log(error.response.data.error);
          this.errors = error.response.data.error;
          // toast.fire({
          //    type: 'success',
          //    title: 'Not Successfully Signed in '
          //  });
        })
      }
    }
  
  }
</script>