<template>
    <div >
        <v-app-bar  fixed dense  class ="" color="#039BE5" height="92">
            <router-link to='/'>
                <v-img src = "/uploads/film-logo.jpg" max-width="95" max-height="60" ></v-img>
            </router-link>
            
            <!-- <v-toolbar-title>
                <span class="font-weight-light">9</span><span>Pay</span>     
            </v-toolbar-title> -->
            
            <v-toolbar-items  align="center">
                <v-btn text router to="/" class ="hidden-md-and-down">
                  <span class="white--text font-weight-black">Home</span>
                  <!-- <v-icon class ="" right>home</v-icon>  -->
                </v-btn>
                
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <template v-if="userData"> 
                <div class="white--text">You are logged in as <span class="text-capitalize">{{userData.firstname}} {{userData.lastname}}</span> </div>
            </template>
            
            <v-spacer></v-spacer>
            <template v-if="userData">
                <v-menu offset-y>
                  <template v-slot:activator="{on}" >
                    <v-btn class="ml-4"  color="#fff" v-on="on">
                      <v-icon left>expand_more</v-icon>
                      <span class="ml-4 grey--text text-lowercase">{{userData.username}}</span>
                    </v-btn>
                  </template>  
                  <v-list>
                    <v-list-item >
                      <v-list-item-title style="cursor: pointer;" class="text-capitalize" @click="logout()">
                        logout
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                  
                 </v-menu>
            </template>
            <template v-else>
                <Login/>
                <Register/>
            </template>
            

        </v-app-bar>
        <div class="py-11" ></div>
        <!-- <v-btn dark @click="snackbar = true">Open Snackbar</v-btn> -->
                <v-snackbar 
                  v-model="snackbarStatus"
                  top
                  :timeout = "1000"
                  :color="snackbarType"
                  class="text-center">
                
                  <span >{{ snackbarMessage }} </span>
                  <v-btn
                    color="white"
                    text
                    @click="killSnanckbar"
                  >
                    <v-icon medium color="white">cancel</v-icon>
                  </v-btn>
                </v-snackbar>
    </div>
</template>

<script>
    import Login from './Login.vue';
    import Register from './Register.vue';

    export default {
        name:"example",
        components:{
            Register,
            Login
        },
        mounted() {
            console.log('Component mounted.')
        },
        computed:{
            userData(){
                return this.$store.getters.getUser;
            },
            snackbarStatus(){
                return this.$store.getters.snackBarStatus;
            },
             snackbarType(){
                return this.$store.getters.snackbarType;
            },
            snackbarMessage(){
                return this.$store.getters.snackbarMessage;
            },
        },
        data(){
            return{
                //snackbarStatus:false
            }
        },
        methods:{
            logout(){

                    this.$store.commit('logUserOut');
                    let mesaageData = {
                        message:"Successfully Logged out",
                        type:"success",
                        status:true
                    }
                    this.$store.commit('showMessage',mesaageData);
                     this.$store.commit('killSnanckbar');
            },
            killSnanckbar(){
                this.$store.commit('killSnanckbar');
            }
        }
    }
</script>
