<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn text
          color = "white" class="mr-2"
          v-on="on"
        >
        <span class ="hidden-md-and-down text-capitalize">Register</span>
        <v-icon right>group_add</v-icon>
         
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
         Register
        </v-card-title>

        <v-card-text>
         <v-form>
             <v-text-field v-model="form.lastname" label = Lastname></v-text-field>
             <div v-if = "errors != null">
                <div v-for="error in errors.lastname" class="red--text">
                  {{error}}
                </div>
              </div>
             <v-text-field v-model="form.firstname" label = Fistname></v-text-field>
             <div v-if = "errors != null">
                <div v-for="error in errors.firstname" class="red--text">
                  {{error}}
                </div>
              </div>
             <v-text-field v-model="form.email" type = "email" label = Email></v-text-field>
             <div v-if = "errors != null">
                <div v-for="error in errors.email" class="red--text">
                  {{error}}
                </div>
              </div>
             <v-text-field v-model="form.username" label = username></v-text-field>
             <div v-if = "errors != null">
              <div v-for="error in errors.username" class="red--text">
                {{error}}
              </div>
            </div>
             <v-text-field v-model="form.password" type = "password" label = Password></v-text-field>
             <div v-if = "errors != null">
                <div v-for="error in errors.password" class="red--text">
                  {{error}}
                </div>
              </div>
            <v-text-field v-model="form.password_confirmation" type = "password" label = "Password Confirmation"></v-text-field>
         </v-form>
          <v-card-actions>
             
              <v-btn
                color="error"
                text
                @click="dialog = false"
              >
               Cancel
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color = "green"
                width = "120"
                class = "white--text mr-2"
                @click ="registerUser"
               
              >
              submit
              </v-btn>
              
            </v-card-actions>

        </v-card-text>

        
      </v-card>
    </v-dialog>
  </div>
</template>

<script type="text/javascript">
  export default{
    name:'register',
    data(){
      return {
        dialog: false,
        errors:null,
        form:{
          lastname:'',
          firstname:'',
          username:'',
          email:'',
          password:'',
          password_confirmation:''
        }
      }
    },
    methods:{
      registerUser(){
          const creds = {
            firstname:this.form.firstname,
            lastname:this.form.lastname,
            email:this.form.email,
            username:this.form.username,
            password:this.form.password,
            password_confirmation:this.form.password_confirmation,
            
          }

          axios.post('/api/register',creds)
          .then((res) =>{
            
              //localStorage.setItem('userToken',res.data.token);
              console.log(res);
              this.form.firstname = '';
              this.form.lastname='';
              this.form.email='';
              this.form.username='';
              this.form.password='';
              this.form.password_confirmation='';

              this.$store.commit('logUserIn',res.data);

              let mesaageData = {
                message:"Successfully Joined and Logged in",
                type:"success",
                status:true
              }
              this.$store.commit('showMessage',mesaageData);
              this.dialog = false;
             
             
            }

          )
          .catch((error)=>{
            this.errors = error.response.data.error;
            console.log(error.response.data.error);
          })

        }
        
      
    }
  
  }
</script>