<template>
    <v-app color="light--grey">
        <Navbar/>
     
        <v-content class="container-fluid">
            <router-view></router-view>
        </v-content>
     
    </v-app>

</template>

<script type="text/javascript">
import Navbar from './components/Navbar.vue';
export default {
  name:"App",
  components:{
    Navbar
  }
}

</script>

<style type="text/css">
  a{
    text-decoration: none;
  }
</style>