<template>
  <div>
      <v-card outlined class = "" color = "light-grey">
          <v-card-title class="mx-3 font-weight-black">All Films</v-card-title>
          <v-divider class="mx-2"></v-divider>

         <v-container fluid fill-height>
          <v-row>
            <v-menu offset-y>
              <template v-slot:activator="{on}" >
               <!--  <v-btn class="ml-4"  color="#fff" > -->
                <v-btn text color="primary" class="text-capitalize ml-5" v-on="on">
                  <v-icon left>expand_more</v-icon>
                  <span class="">Sort Films By</span>
                </v-btn>
              </template>  
              <v-list>
                <v-list-item v-for="field in fields" :key="field.id" @click="sort(field.name)">
                  <v-list-item-title class="text-capitalize">
                    {{field.text}}
                  </v-list-item-title>
                </v-list-item>
              </v-list>
              
            </v-menu>
            <!-- <v-btn text color="primary" class="text-capitalize ml-5">Sort Films</v-btn> -->
            <v-spacer></v-spacer>
            <v-btn to="/create" color="primary" text>
             
                <v-icon>add</v-icon> 
                <span  class="text-capitalize">
                  New Film
                </span>
              

            </v-btn>
          </v-row>
            

            <v-layout row wrap class="mx-auto"> 
                  <v-flex class = "my-2" xs12 sm6 lg4 v-for="film in allFilms" :key="film.id">
                      <v-card
                        :to="`/films/${film.slug}`"
                        class="ma-3 justify center"
            
                      >
                        <v-img
                          height="250"
                          :src="film.photo"
                        ></v-img>

                        <v-card-title><span class="text-capitalize">{{film.name}}</span><v-spacer></v-spacer><span class="green--text">N {{film.ticket_price}}.00</span></v-card-title>
                        

                        <v-card-text>

                          <v-row
                            align="center"
                            class="mx-0"
                          >
                            <div class="grey--text mr-4">Rating :</div>
                            <v-rating
                              :value="film.rating"
                              color="amber"
                              dense
                              half-increments
                              readonly
                              size="14"
                            ></v-rating>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0"
                          >
                            <div class="grey--text mr-4">Genre :</div>
                            
                              <v-chip-group v-model="selection"
                                active-class="deep-purple accent-4 white--text"
                                column
                                v-for="genre in film.genres" :key="genre.id"
                              >
                                <v-chip>{{genre.name}}</v-chip>

                               
                                <!-- <v-chip>9:00PM</v-chip> -->
                              </v-chip-group>
                              
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0 mt-2"
                          >
                            <div class="grey--text mr-4">Country :</div>
                            <div class="black--text">{{film.country}}</div>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0 my-2"
                          >
                            <div class="grey--text mr-4">Released :</div>
                            <div class="black--text">{{film.release_date | moment("from","now",true)}} ago</div>
                          </v-row>

                          <v-divider class="mx-0 mt-4 mb-2" ></v-divider>

                          <div class="my-4 subtitle-1 black--text">
                            Description
                          </div>

                          <div>{{film.description | truncate(100,'....read more')}}</div>
                        </v-card-text>
                        
                        <v-card-actions>
                        <v-btn
                            color="deep-purple accent-4 float-right text-capitalize"
                            text router to="`/`"><router-link class="float-right text-capitalize" :to="`/films/${film.slug}`">view Film</router-link></v-btn>
                          
                        </v-card-actions>
                      </v-card>
                  </v-flex>       
            </v-layout> 
         </v-container> 



      </v-card> 
  </div>
  
</template>

<script type="text/javascript">
    export default {
    data(){
      return{
        loading: false,
        selection: 1,
        films:[],
        fields:[
          {id:1,name:'name',text:'Name'},
          {id:2,name:'country',text:'country'},
          {id:3,name:'rating',text:'rating'},
          {id:4,name:'ticket_price',text:'ticket price'},
          {id:5,name:'release_date',text:'release date'}
        ]
      }
    },

    methods: {
      sort(fieldName){
         this.$store.commit('sortFilms',fieldName);
       
        //console.log('name');
      }
    },
    computed:{
      allFilms(){
       
       return this.films = this.$store.getters.films;
        //return this.films;
      }
    },
    created(){
      this.$store.dispatch('getAllFilms');
    }
  }
</script>