<template>
  <div>
      <v-card flat class = "" color = "light-grey">
          <v-card-title class="mx-3 font-weight-black">New Film</v-card-title>
          <v-divider class="mx-2"></v-divider>

         <v-container fluid fill-height>
           <v-layout row wrap class="mx-auto"> 
              <v-card class="mx-auto " width="900" >
                    <v-card-title
                      class="headline white lighten-2 text-center"
                      primary-title
                    >
                     Fill the form below to create a new film
                    </v-card-title>

                    <v-card-text>
                     <v-form class="">
                        <v-text-field :rules="[rules.required,rules.counter]" v-model = "form.name" label = Name></v-text-field>
                        <div v-if = "errors != null">
                          <div v-for="error in errors.name" class="red--text">
                            {{error}}
                          </div>
                        </div>

                        <v-text-field
                          :rules="[rules.required]"
                          v-model = "form.ticket_price"
                          label="Ticket Price"
                          type ="number"
                          prefix="N"
                        ></v-text-field>
                        <div v-if = "errors != null">
                          <div v-for="error in errors.ticket_price" class="red--text">
                            {{error}}
                          </div>
                        </div>

                      <!--   <v-text-field required v-model="form.release_date" type = "date" label ="Release Date" ></v-text-field> -->
                      <v-menu
                          ref="menu1"
                          v-model="menu1"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              :rules="[rules.required]"
                              v-model="dateFormatted"
                              label="Release Date"
                              hint="MM/DD/YYYY format"
                              persistent-hint
                              @blur="date = parseDate(dateFormatted)"
                            
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                        </v-menu>
                        <div v-if = "errors != null">
                          <div v-for="error in errors.release_date" class="red--text">
                            {{error}}
                          </div>
                        </div>

                         <country-select :rules="[rules.required]" topCountry = "NG" :countryName = "countryValue" style = "border-bottom:1px solid grey;width:100%;" class="mb-2 py-3 px-1"   v-model="form.country" :country="form.country"/>

                         <v-select
                            :rules="[rules.required]"
                            v-model="form.genre"
                            :items="allGenres"
                            item-text = "name"
                            item-value = "id"
                            attach
                            chips
                            label="Genre"
                            deletable-chips
                            multiple
                            class = "mt-2"
                          ></v-select>

                          <v-file-input :rules="[rules.required]"  v-model = "form.file"  @change="onFilePicked" accept="image/*" small-chips multiple label="Upload Film Photo"></v-file-input>
                        
                         <div :rules="[rules.required]" class="mt-2">Rating </div> <v-rating required color="amber" class="" v-model="form.rating"></v-rating>
                         <div v-if = "errors != null">
                          <div v-for="error in errors.rating" class="red--text">
                            {{error}}
                          </div>
                        </div>
                        
                         <v-textarea 
                          :rules="[rules.required]"
                          v-model = "form.description"
                          name="input-7-4"
                          label="Description"
                          class = "my-2"
                        ></v-textarea>
                        <div v-if = "errors != null">
                          <div v-for="error in errors.description" class="red--text">
                            {{error}}
                          </div>
                        </div>
   
                         
                     </v-form>
                       <v-card-actions class = "mb-4">
                        <v-btn
                          to = "/"
                          color="error"
                          text
                        >
                        <v-icon medium>arrow_back</v-icon>
                         <span class = "text-lowercase">
                            back to films
                         </span>
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn
                          color = "green"
                          width = "120"
                          class = "white--text mr-2"
                          @click ="addFilm"
                         
                        >
                        submit
                        </v-btn>
                        
                      </v-card-actions>
                    </v-card-text>
                  </v-card>
              </v-layout>  
         </v-container>
      </v-card>    
  </div>
</template>

<script type="text/javascript">
    export default{
      data(){
        return{
          image_url:null,
          errors:null,
          imageName:null,
          countryValue:true,
          form:{
            name:'',
            rating:null,
            ticket_price:null,
            release_date:null,
            country: "",
            description:"",
            file:null,
            genre: "",
          },
          menu1: false,
          date:null,
          dateFormatted:null,
          rules: {
          required: value => !!value || 'Required.',
          counter: value => value.length <= 20 || 'Max 30 characters',
          
          
         }
        }
      },
      created() {
       this.$store.dispatch('getAllGenres');
      },
      computed:{
        allGenres(){
          return this.$store.getters.genres;
        },
        computedDateFormatted () {
          return this.formatDate(this.date)
        }
      },
      watch: {
        date (val) {
          this.dateFormatted = this.formatDate(this.date)
        },
      },
      methods: {
         pickFile () {
            this.$refs.image.click ()
        },
        onFilePicked(){
           let reader = new FileReader()
            reader.onload = () => {
              this.image_url = reader.result
            }
           // reader.readAsDataURL(this.form.file[0])
          
          console.log(this.image_url);
        },
        addFilm(){

          this.form.ticket_price = parseInt(this.form.ticket_price,10)
          let formData= new FormData();
          formData.append('name',this.form.name);
          formData.append('rating',this.form.rating);
          formData.append('ticket_price',this.form.ticket_price);
          formData.append('release_date',this.date);
          formData.append('country',this.form.country);
          formData.append('description',this.form.description);
          formData.append('genres',this.form.genre);
          formData.append('image',this.form.file[0]);

          axios.post('api/film/create',formData,
              {
                headers:{
                  'Content-Type':'multipart/form-data'
                }
              }
            ).then((response)=>{
            console.log(response.data);
            let mesaageData = {
              message:"Successfully added new Film",
              type:"success",
              status:true
            }
            this.$store.commit('showMessage',mesaageData)
            this.$router.push({path:'/films'});
          }).catch((error)=>{
            this.errors = error.response.data.error;
            console.log(error);
          });
        },
        formatDate (date) {
        if (!date) return null

          const [year, month, day] = date.split('-')
          return `${month}/${day}/${year}`
        },
        parseDate (date) {
          if (!date) return null

          const [month, day, year] = date.split('/')
          return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
        },
      }
    }

</script>