<template>
  <div v-if="film">
    <v-card flat class = "" color = "light-grey">
          <v-card-title class = "text-capitalize font-weight-black">{{film.name}}</v-card-title>
          <v-divider class="mx-2"></v-divider>
          <v-container fluid>
            <v-layout row wrap class="mx-auto"> 
              <v-flex xs12 sm12 md6 lg6>
                 <v-card flat class="ma-3 justify center">
                        <v-img
                          height="350"
                          src="/uploads/photo.jpg"
                        ></v-img>
                 </v-card>       
              </v-flex>  
                 <v-card flat class="ma-3 justify center">
                      <v-card-text>
                          <v-row
                            align="center"
                            class="mx-0 mt-2">
                            <div class="grey--text mr-4">Name :</div>
                            <div class="black--text text-capitalize">{{film.name}}</div>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0 mt-2"
                          >
                            <div class="grey--text mr-4">Rating :</div>
                            <v-rating
                              :value="film.rating"
                              color="amber"
                              dense
                              half-increments
                              readonly
                              size="14"
                            ></v-rating>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0"
                          >
                            <div class="grey--text mr-4">Genre :</div>
                            
                              <v-chip-group 
                                active-class="deep-purple accent-4 white--text"
                                column
                                v-for="genre in film.genres" :key="genre.id"
                              >
                                <v-chip>{{genre.name}}</v-chip>
                                <!-- <v-chip>9:00PM</v-chip> -->
                              </v-chip-group>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0 mt-2"
                          >
                            <div class="grey--text mr-4">Country :</div>
                            <div class="black--text">{{film.country}}</div>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0 mt-2"
                          >
                            <div class="grey--text mr-4">Ticket Price :</div>
                            <div class="green--text text-capitalize">N {{film.ticket_price}}.00</div>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0 mt-2"
                          >
                            <div class="grey--text mr-4">Release Date :</div>
                            <div class="black--text text-capitalize">{{film.release_date | moment("dddd, MMMM Do YYYY")}}</div>
                          </v-row>
                          <v-row
                            align="center"
                            class="mx-0 mt-2"
                          >
                            <v-card flat max-width = "500">
                              <div class="black--text">Description :</div>
                              <div class="grey--text mt-2">{{film.description}}</div>
                            </v-card>  
                          </v-row>
                      </v-card-text>  
                 </v-card> 
              <!-- <v-flex xs12 sm12 md6 lg6>
              </v-flex> -->
              
            </v-layout> 
            <v-btn
                  to = "/"
                  color="error"
                  text
                >
                <v-icon medium>arrow_back</v-icon>
                 <span class = "text-lowercase">
                    back to films
                 </span>
                </v-btn>
            <v-divider class="mx-2 my-4"></v-divider> 
             
                <v-row class="ml-4 mr-8 mb-2">

                  <v-card-subtitle text class="justify center text-capitalize black--text font-weight-bold ml-2">{{number_of_comments}} Comments</v-card-subtitle>
                  <v-spacer></v-spacer>
                  <template v-if="!userData">
                    <v-card-subtitle>You are not logged in, kindly log in to post comment</v-card-subtitle>
                  </template>
                  <template v-else>
                    <v-btn class="mb-2" color="primary" @click = "add_comment= !add_comment" text>
                    
                      <v-icon>add</v-icon> 
                      <span  class="text-capitalize">
                        Add Comment
                      </span>
                    </v-btn>
                  </template>
                  
                </v-row> 
                <v-expand-transition>
                    <div v-show = "add_comment">
                      <v-divider class="mx-2"></v-divider>
                      <v-card-text class = "ml-4 mr-8">
                        <v-form class="mr-4 justify center mr-7" width="200">
                          <v-text-field required v-model="comment" label = "Add Comment Here...."></v-text-field>
                          
                        </v-form>
                        <div v-if = "errors != null">
                            <div v-for ="error in errors.comment"  class="red--text mb-3 mt-2 text-center">
                              {{error}}
                            </div>
                          </div>
                        <v-card-actions class = "mb-4">
                        <v-btn
                          @click = "closeComment"
                          color="error"
                          text
                        >
                        <v-icon medium>cancel</v-icon>
                         <span class = "text-lowercase">
                            Cancel
                         </span>
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn
                          color = "green"
                          @click="postComment"
                          class = "white--text mr-2 text-capitalize"
                         
                         
                        >
                        submit comment
                        </v-btn>
                        
                      </v-card-actions>
                      </v-card-text>
                    </div>
                  </v-expand-transition>
              <template v-if="number_of_comments != 0">  
                <v-card outlined class="mx-10 mb-3" v-for="comment in film.comments.original.comments" :key="comment.id"> 
                  
                    <v-card-subtitle class="black--text font-weight-black text-lowercase">@{{comment.name}}</v-card-subtitle>
                     
                    <v-card-text>
                     {{comment.comment}}
                    </v-card-text>  
                    <v-card-subtitle>Posted : <span class="green--text">{{comment.created_at|moment("from","now",true)}} ago</span> 
                    </v-card-subtitle>
                </v-card>
              </template>
              <template v-else>  

                  <v-card-subtitle class="font-italic mx-5 ">This film has no comment yet</v-card-subtitle>
              </template>
          </v-container>  
    </v-card>      
  </div>
</template>

<script type="text/javascript">
  export default {
    name:"Film",
    data(){
      return{
        film:null,
        number_of_comments:null,
        add_comment:false,
        comment:'',
        errors:null
      }
    },
    methods:{
      postComment(){
        const token = localStorage.getItem('userToken');
        const data = {comment:this.comment};
        axios.post(`/api/film/add-comment/${this.$route.params.slug}`,data,{
            headers:{
                  Authorization:`Bearer ${token}`
                }
          }).then((response)=>{
            this.comment = "";
            this.film.comments.original.comments.unshift(response.data.comment);
            this.add_comment=false;
            this.number_of_comments++;
            console.log(response.data)
        }).catch((error)=>{
           this.errors = error.response.data.error;
           console.log(error)
        })
      },
      closeComment(){
        this.add_comment = false;
        this.errors = null;
      }
    },
    created(){
      
      axios.get(`/api/film/${this.$route.params.slug}`).then((response)=>{
        this.film = response.data.film;
        this.number_of_comments = response.data.film.comments.original.comments.length;

        console.log(response.data.film.comments.original.comments);
      }).catch((error)=>{
        console.log('error');
      });
    },
    computed:{
       userData(){
                return this.$store.getters.getUser;
        }
    }
  }
    
</script>